$body-bg-color: #FFF;
$general-font-color: #9F9F9F;
$secondary-font-color: #838383;

$menu-font-color: #838383;
$menu-bg-color: #FFF;

$brand-primary: #838383;
$brand-secondary: #29CCF8;

$btn-counter-bg-color: #868686;
$btn-counter-color-border: transparent;

$footer-bg-color: #FFF;
$footer-font-color: $brand-primary;

$coupon-color: #81D2F4;
$info-coupon-color: $menu-font-color;