@import "variables";

// Custom btn
$btn-padding: 12px 16px;
$btn-text-transform: uppercase;
$btn-padding: 12px 16px;
$btn-min-width: 150px;
$btn-border-radius-base: 13px;

.form-control {
  outline: 0;
  padding: 0 24px 2px;
  font-weight: 100;
  letter-spacing: 0.4px;
  height: $input-height-base;
  border-radius: $input-border-radius;
  border: $input-border;
  -webkit-appearance: none;
  border: 2px solid $secondary-font-color;
}

.form-control::placeholder {
  color: $general-font-color;
  opacity: 1;
}

.form-control::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    $general-font-color;
  opacity: 1;
}
.form-control:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    $general-font-color;
  opacity:  1;
}
.form-control::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    $general-font-color;
  opacity:  1;
}
.form-control:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    $general-font-color;
}
.form-control::-ms-input-placeholder { /* Microsoft Edge */
  color:    $general-font-color;
}

.form-control.error:placeholder {
  color: #FFF;
  opacity: 1;
}
.form-control.error::placeholder {
  color: #FFF;
  opacity: 1;
}
.form-control.error::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #FFF;
  opacity: 1;
}
.form-control.error:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #FFF;
  opacity:  1;
}
.form-control.error::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #FFF;
  opacity:  1;
}
.form-control.error:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #FFF;
}
.form-control.error::-ms-input-placeholder { /* Microsoft Edge */
  color: #FFF;
}

.form-control.error:-webkit-autofill {
  -webkit-text-fill-color: #FFF;
  -webkit-box-shadow: 0 0 0 30px #ff2e2c inset !important;
  background: #ff2e2c !important;
  border: none;
}

.form-control:-webkit-autofill {
  -webkit-text-fill-color: $general-font-color;
  -webkit-box-shadow: 0 0 0 30px #FFF inset !important;
  background: #FFF !important;
}

.form-control.valid:-webkit-autofill,
.form-control.valid:-webkit-autofill:focus {
  -webkit-text-fill-color: $general-font-color;
  -webkit-box-shadow: 0 0 0 30px #FFF inset !important;
  //background: #FFF !important;
  //border: none;
}

.error:not(.pending) {
  letter-spacing: 0.6px;
  font-size: 12px;
  color: #c93e46;
  font-weight: 400;
}

.form-control.error:not(.pending) {
  color: white;
  background: $red-danger;
  border: none;
}

input.error:-webkit-autofill {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0 30px $red-danger inset !important;
  background: $red-danger !important;
  border: none;
}

input:-webkit-autofill {
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
  background: white !important;
}

input.valid:-webkit-autofill,
input.valid:-webkit-autofill:focus {
  -webkit-text-fill-color: $black;
  -webkit-box-shadow: 0 0 0 30px $brand-primary inset !important;
}

.loading-input {
  background-size: 25px 25px;
  background: white url("http://loadinggif.com/images/image-selection/3.gif") no-repeat right center;
}

.form-control.valid:not(:placeholder-shown):not(.pending) {
  color: $general-font-color;
}

.form-group {
  &.occupationFormGroup {
    display: flex;
    flex-direction: column;

    @media(max-width: $screen-sm-max) {
      .select2-container {
        &.select2-container--default {
          width: 100% !important;
        }
      }
    }
  }
}

.top-hint {
  letter-spacing: 0.4px;
  font-size: 12px;
  font-weight: 400;
}

.bottom-hint {
  font-size: 12px;
  font-style: italic;
  display: block;
  padding-left: 2px;
  margin-top: 4px;
}

.display-block {
  display: block;
}

.form-group label {
  font-weight: 400;
}

.btn {
  letter-spacing: 0.6px;
  padding: $btn-padding;
  min-width: $btn-min-width;
  text-transform: $btn-text-transform;
  border-radius: $btn-border-radius-base;
}

.top-hint {
  letter-spacing: 0.4px;
  font-size: 12px;
  font-weight: 400;
}

.bottom-hint {
  font-size: 12px;
  font-style: italic;
  display: block;
  padding-left: 2px;
  margin-top: 4px;
}

.coupon-count {
  background: $brand-primary;
  padding: 16px;
  margin-bottom: 16px;
  color: #FFF;
  margin-left: 20px;
}

.coupon-count-number {
  color: #FFF;
  font-size: 72px;
}

.coupon-count-title {
  font-size: 28px;
}

.coupon-count-subtitle {
  font-size: 18px;
}

.round-btn {
  line-height: 1;
  padding: 8px 10px;
  border-radius: 50%;
  min-width: 10px;
}

.block-reset-password {
  color: $general-font-color;

  h3 {
    font-size: 39px;
    color: $general-font-color;
  }
}

//
//custom Check
//
.custom-check {
  display: flex;
  flex-direction: column;

  input {
    height: 0;
    width: 0;
    display: none;
  }

  input + label {
    position: relative;
    display: flex;
    margin: .6em 0;
    align-items: center;
    transition: color 250ms cubic-bezier(.4,.0,.23,1);
  }

  input + label > span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5em;
    width: 1em;
    height: 1em;
    background: transparent;
    border: 2px solid $secondary-font-color;
    border-radius: 0px;
    cursor: pointer;
    transition: all 250ms cubic-bezier(.4,.0,.23,1);
    font-size: 2em;
  }

  input + label:hover > span, input:focus + label > span {
    background: rgba(255,255,255,.1);
  }

  input:checked + label > span {
    border: .5em solid $menu-font-color;
    animation: shrink-bounce 200ms cubic-bezier(.4,.0,.23,1);
  }

  input:checked + label > span:before {
    content: "";
    position: absolute;
    top: .6em;
    left: .25em;
    border-right: 3px solid transparent;
    border-bottom: 3px solid transparent;
    transform: rotate(45deg);
    transform-origin: 0% 100%;
    animation: checkbox-check 125ms 250ms cubic-bezier(.4,.0,.23,1) forwards;
  }

  @keyframes shrink-bounce {
    0%{
      transform: scale(1);
    }
    33%{
      transform: scale(.85);
    }
    100%{
      transform: scale(1);
    }
  }

  @keyframes checkbox-check {
    0%{
      width: 0;
      height: 0;
      border-color: #fff;
      transform: translate3d(0,0,0) rotate(45deg);
    }
    33%{
      width: .2em;
      height: 0;
      transform: translate3d(0,0,0) rotate(45deg);
    }
    100%{
      width: .2em;
      height: .5em;
      border-color: $menu-bg-color;
      transform: translate3d(0,-.5em,0) rotate(45deg);
    }
  }
}

.form-label-message {
  color: $brand-primary;
}

.error-custom {
  color: #ff2e2c;
}

.form-control.error-custom {
  border-color: #ff2e2c;
}

label.error-custom {
  font-size: 12px;
}

.select2-container {
  &.select2-container--default {
    max-width: 100%;

    .select2-results__option--highlighted[aria-selected] {
      background-color: #FDAA4E;
    }

    .select2-selection--single {
      outline: 0;
      font-weight: bold;
      letter-spacing: 0.4px;
      height: 40px;
      border-radius: 0px;
      border: 2px solid $secondary-font-color;
      -webkit-appearance: none;

      .select2-selection__rendered {
        padding: 4px 24px 0;
      }

      .select2-selection__arrow b {
        border-width: 8px 7px 0 7px;
      }

      .select2-selection__arrow {
        height: 26px;
        position: absolute;
        top: 5px;
        right: 11px;
        width: 20px;
      }

      .select2-selection__placeholder {
        color: $general-font-color;
      }

      .select2-selection__rendered {
        padding-left: 25px;
        color: $general-font-color;
        line-height: 28px;
      }
    }

    .select2-results {
      .select2-results__options {
        .select2-results__option {
          color: #000;
        }
      }
    }

    .select2-search {
      &.select2-search--dropdown {
        color: #000;
      }
    }
  }
}

//.form-control.valid:not(:placeholder-shown):not(.pending)

input.error-custom {
  background-color: #ff2e2c;
  color: #FFF !important;
}