@import '~bootstrap-sass/assets/stylesheets/bootstrap/variables';
@import 'brand_variables';

// Base colors
$black:        #060706;
$gray:         #868686;
$gray-light:   #b5b5b5;
$gray-lighter: #c4c4c5;

$green:      #2fb59c;
$yellow:     #fdcc20;
$cyan:       #1ACEC1;
$red-danger: #ff2e2c;

// Default colors
$text-color:       $general-font-color;
$link-color:       $secondary-font-color;
$link-hover-color: $secondary-font-color;

// Default Fonts
$font-family-base: "Graphik", "Helvetica Neue", Helvetica, Arial, sans-serif;

// Custom screen size
$screen-xlg-desktop: 1393px;

// Collapses navbar
$grid-float-breakpoint: $screen-md-min;

// Navbar default styles
$navbar-border-radius:                0;
$navbar-default-toggle-icon-bar-bg:   #838383;

$nav-link-hover-bg:    #838383;
$nav-login-color:      #fff;

$text-color: $general-font-color;

// Custom btn
$input-border-radius:  0px;
$input-border:         2px solid #838383;
$input-height-base:    40px;

$brand-success:        $brand-primary;

$btn-success-border:   transparent;
$btn-success-bg:       $brand-secondary;
$btn-default-color:    white;
$btn-default-bg:       #afb7be;
$btn-default-border:   white;
$btn-danger-color:     white;
$btn-danger-bg:        $red-danger;
$btn-danger-border:    darken($btn-danger-bg, 5%);

$login-color: $brand-primary;
$btn-brand-radius: 5px;
