@import "variables";

@import "form";

// Pages Partials
@import "faq";
@import "user";
@import "error-page";
@import "layout/animations";

body {
  background-color: $body-bg-color;
}

.container {
  @media (min-width: $screen-xlg-desktop) {
    width: $screen-xlg-desktop - $grid-gutter-width;
  }
}

.cancel-btn {
  background-color: #afb7be;
  color: white;
}

.visible-xlg-inline {
  display: none;

  @media (min-width: $screen-xlg-desktop) {
    display: inline;
  }
}

.modal-header {
  border: 0;

  .close {
    color: #123F86;
    opacity: 9;
  }
}

.text-content {
  background: #fff;
  border-radius: 5px;

  label {
    font-size: 21px;
    font-weight: 400;
  }

  p {
    text-align: justify;
    font-size: 17px;
  }
}

.pad-regulation {
  padding-bottom: 11px;
}

.header-custom {
  padding-left: 12px;
}

.error {
  color: #c93e46;
}

.space-input-xs {
  width: 16%;
  float: left;
  padding-right: 0 !important;
}

.space-input-md {
  width: 80%;
  float: right;
}

.has-error {
  color: #c20606;
}

.bordered {
  border: 1px solid #E1E4E4;
  padding: 15px;
  border-radius: 5px;
}

.invoice {
  padding: 15px;

  border: 1px solid #ccc9c9;
  margin-bottom: 20px;
  border-radius: 5px;
}

.cods {
  min-height: 175px;
  border-left: 1px solid #ccc9c9;

  @media (max-width: 992px) {
    min-height: inherit;
    border-left: 0;
    border-top: 1px solid #ccc9c9;
  }
}

#span-coupon {
  font-size: 15px;
}

.table-stores table {
  background-color: #fff;
}

.box-counter {
  @media (max-width: 992px) {
    width: 250px;
    height: 240px;
  }
}

.block-header-steps-container {
  margin: 30px 0;
}

.block-header-steps {
  display: inline-block;
  height: 3vw;
  width: 12vw;
  position: relative;
  background-color: #b5b5b5;

  &::before {
    position: absolute;
    left: 0;
    border-top: 1.5vw solid transparent;
    border-bottom: 1.5vw solid transparent;
    border-left: 1.5vw solid $body-bg-color;
    content: "";
  }

  &::after {
    position: absolute;
    right: -1.5vw;
    border-top: 1.5vw solid transparent;
    border-bottom: 1.5vw solid transparent;
    border-left: 1.5vw solid #b5b5b5;
    content: "";
    z-index: 2;
  }

  &.active {
    background-color: $brand-secondary;
  }

  &.active::after {
    position: absolute;
    right: -1.5vw;
    border-top: 1.5vw solid transparent;
    border-bottom: 1.5vw solid transparent;
    border-left: 1.5vw solid $brand-secondary;
    content: "";
    z-index: 2;
  }

  span {
    line-height: 3vw;
    margin-left: 1.5vw;
    color: #ffffff;
    font-weight: 500;
  }

  @media (max-width: 1400px) {
    height: 4vw;
    width: 16vw;

    &::before,
    &::after,
    &.active::after
    {
      right: -2vw;
      border-top-width: 2vw;
      border-bottom-width: 2vw;
      border-left-width: 2vw;
    }

    & span {
      line-height: 4vw;
    }
  }

  @media (max-width: 992px) {
    height: 5vw;
    width: 20vw;

    &::before,
    &::after,
    &.active::after
    {
      right: -2.5vw;
      border-top-width: 2.5vw;
      border-bottom-width: 2.5vw;
      border-left-width: 2.5vw;
    }

    & span {
      line-height: 5vw;
    }
  }
}

h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 30px;
  margin-bottom: 20px;
}

.col-12 {
  width: 100%;
}

.col-11 {
  width: 91.666666%;
}

.col-10 {
  width: 83.333333%;
}

.col-9 {
  width: 75%;
}

.col-8 {
  width: 66.666666%;
}

.col-7 {
  width: 58.333333%;
}

.col-6 {
  width: 50%;
}

.col-5 {
  width: 41.666666%;
}

.col-4 {
  width: 33.333333%;
}

.col-3 {
  width: 25%;
}

.col-2 {
  width: 16.666666%;
}

.col-1 {
  width: 8.3333333%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.flex-item {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.column {
  flex-direction: column;
}

.coupon-btn-link {
  background-image: url(/img/cupom-botao-clique_e_cadastre.png);
  width: 227px;
  height: 100px;
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 0;
  margin: 35px auto 36px;
  flex-direction: column;
  text-align: center;

  a {
    z-index: 1;
  }

  p {
    z-index: 1;
  }

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  p {
    color: white;
    margin: 0;
    line-height: 1em;
    font-size: 1em;
    text-transform: uppercase;

    &.first {
      font-weight: 500;
    }
  }

  &:hover {
    transform: scale(1.05);
  }
}

.head-container {
  @media (min-width: 768px) {
    padding-top: 20px;
  }

  h2 {
    color: $general-font-color;
  }

  .head-subtitle {
    font-size: 16px;
    margin: 0 auto;
  }
}

/* REGISTER VIEW */
.block-register {
  text-align: center;
  color: $general-font-color;

  form {
    text-align: left;
  }

  h3 {
    font-size: 37px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  .flex-container {
    @extend .flex-container;

    .flex-item {
      @extend .flex-item;
      text-align: left !important;
      width: 50%;
    }
  }

  .form-container {
    width: 70%;
    margin: 0 auto;
    display: flex;
    position: relative;

    @media (max-width: 992px) {
      width: 75%;
    }

    @media (max-width: $screen-phone) {
      width: 100%;
    }
  }

  .btn {
    border-radius: $btn-brand-radius;
  }
}

/* LOGIN VIEW */
.block-login {
  text-align: center;
  color: $general-font-color;

  h3 {
    font-size: 39px;
    color: $general-font-color;
  }

  .flex-container {
    @extend .flex-container;
    align-items: flex-start !important;

    .flex-item {
      @extend .flex-item;
      align-items: center;
      width: 30%;

      @media (max-width: 768px) {
        width: 100%;
        margin-top: 30px;
        align-items: stretch;
      }

      .forgot-password {
        @media (max-width: 768px) {
          text-align: center !important;
        }
      }

      .login-btn-container {
        @media (max-width: 768px) {
          margin-top: 20px;
        }
      }

      .align-title {
        @media (max-width: 768px) {
          padding: 0;
          margin: 0;
        }
      }
    }

    .register-btn {
      border-radius: $btn-brand-radius;
      color: #fff;
    }

    .login-btn {
      border-radius: $btn-brand-radius;
    }

    label {
      font-weight: 100;
    }

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center !important;
    }
  }
}

.block-description {
    .title {
      font-size: 16px;
    }

  .subtitle {
    font-size: 12px;
  }
}

.align-title {
  padding-right: 0px;
  margin-left: 35px;
}

/*RULES VIEW*/
.block-rules {
  .rules-text {
    text-align: justify;
    display: flex;
    flex-direction: column;
    padding: 25px;
    background-color: #FFF;
    color: $general-font-color;
    border-radius: 10px;
    font-size: 17px;

    @media (min-width: $screen-desktop) {
      width: 80%;
    }
  }

  .flex-container {
    @extend .flex-container;
    padding-top: 20px;
  }

  .coupon-btn-link {
    @extend .coupon-btn-link;
  }
}

/*DOUBTS VIEW*/
.block-doubts {
  .flex-container {
    @extend .flex-container;
    align-items: flex-start !important;
    padding-top: 20px;
    min-height: 500px;

    @media (max-width: $screen-phone) {
      h4 {
        font-size: 16px;
      }
    }

    .doubts-accordions {
      display: flex;
      flex-direction: column;
      width: 80%;

      @media(min-width: 768px) {
        text-align: justify;
      }

      @media(max-width: $screen-xs-max) {
        width: 100%;
      }

      .accordion {
        display: flex;
        position: relative;
        flex-direction: column;

        .answer-size {
          color: $general-font-color;
          font-size: 17px;
          padding-left: 38px;

          @media (max-width: $screen-phone) {
            padding: 0;
          }

        }

        .doubt {
          display: flex;
          flex-direction: row;

          .highlighted {
            color: $brand-secondary;
          }

          .doubt-question {
            padding-right: 15px;

            @media (max-width: $screen-phone) {
              padding: 0;
            }
          }

          .doubt-show-answer {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            @media (max-width: $screen-phone) {
              padding-right: 0;
            }

            .btn-circle {
              width: 27px;
              height: 27px;
              border-radius: 50%;
              border: 0;
              background-color: $brand-secondary;
              color: #fff;
              padding: 0 !important;
              padding-top: 1px !important;
              line-height: 1;
              font-size: 25px;
            }
          }
        }
      }
    }
  }

  .coupon-btn-link {
    @extend .coupon-btn-link;
  }
}

/*WINNERS VIEW*/
.block-winners {
  .flex-container {
    @extend .flex-container;
    align-items: flex-start !important;
    padding-top: 20px;

    .flex-item {
      @extend .flex-item;
      justify-content: center;
      width: 70%;
    }

    .winners-table-container {
      width: 100%;
      text-align: center;
      .table-header {
        background-color: $brand-primary;
        color: #fff;
      }

      table td {
        border: 0 !important;
        text-align: center;
        border-left: 2px solid #000 !important;
        border-right: 2px solid #000 !important;
        border-bottom: 0 !important;
      }

      table th {
        text-align: center;
        border-top: 2px solid #000 !important;
        border-left: 2px solid #000 !important;
        border-right: 2px solid #000 !important;
        border-bottom: 0 !important;
      }

      table {
        border-bottom: 2px solid #000 !important;
        table-layout: fixed;

        @media (max-width: 500px) {
          font-size: 12px;
        }

        @media (max-width: 400px) {
          font-size: 11px;
        }

        @media (max-width: 360px) {
          font-size: 9px;
        }
      }
    }
  }

  .head-container {
    @media (min-width: 768px) {
      padding-top: 20px;
    }
  }
}

/*COUPON REGISTER VIEW*/
.block-register-coupon {
  text-align: center;

  form {
    text-align: left;
  }

  .btn {
    border-radius: $btn-brand-radius;
  }
}

.brands-header-container {
  margin-top: 75px;
  max-height: 125px;
  margin-bottom: 75px;
  justify-content: center;

  .flex-item {
    justify-content: center;
  }

  h1 {
    color: #000;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .logos-container {
    margin: 25px 0px;
  }

  .logos-container a {
    padding-left: 15px;
    padding-right: 15px;
    text-decoration: none;
  }

  .logos-container .logo-malwee {
    height: 23px;
  }

  .logos-container .logo-wee {
    height: 38px;
  }

  .logos-container .logo-enfim {
    height: 23px;
  }

  .logos-container .logo-malwee-liberta {
    height: 25px;
  }

  .logos-container .logo-malwee-kids {
    height: 35px;
  }

  .logos-container .logo-zig-zig-zaa {
    height: 35px;
  }

  .logos-container .logo-carinhoso {
    height: 23px;
  }

  @media (max-width: 1400px) {
    margin: 30px 0;

    .flex-item {
      width: 100%;
    }

    max-height: 175px;
  }

  @media (max-width: 1200px) {
    max-height: 230px;

    .logos-container a {
      padding-left: 10px;
      padding-right: 10px;
    }

    .logos-container .logo-malwee {
      height: 20px;
    }

    .logos-container .logo-wee {
      height: 35px;
    }

    .logos-container .logo-enfim {
      height: 20px;
    }

    .logos-container .logo-malwee-liberta {
      height: 25px;
    }

    .logos-container .logo-malwee-kids {
      height: 32px;
    }

    .logos-container .logo-zig-zig-zaa {
      height: 32px;
    }

    .logos-container .logo-carinhoso {
      height: 20px;
    }
  }

  @media (max-width: 992px) {
    .logos-container .logo {
      margin-top: 15px;
    }
  }

  @media (max-width: 768px) {
    text-align: center;
    max-height: 340px;
  }

  @media (max-width: 401px) {
    max-height: 300px;
  }

  @media (max-width: 321px) {
    max-height: 375px;
  }
}

.container-wrapper {
  position: relative;
  z-index: 1;
}

.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba($body-bg-color, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;

  &.hide {
    display: none;
  }

  img {
    display: block;
    position: relative;
    width: 100px;
  }
}

.info {
  text-align: center;
  border: solid 1px;
  margin-bottom: 25px;
  background: #fff301;
  text-transform: uppercase;

  p {
    padding: 10px 0px;
    font-size: 18px;
    margin: 0px;
  }

  &.info-form {
    margin-top: 10px;
    position: relative;

    button.close {
      position: absolute;
      right: 10px;
      top: 5px;
    }

    .close {
      opacity: inherit;
    }

    p {
      font-size: 1em;
    }
  }
}

.coupon-modal {
  .btn {
    border-radius: $btn-brand-radius;
  }
}

.item-home-image-mobile {
  display: none;
  width: 100%;

  @media (max-width: 768px) {
    display: block;
    max-width: 450px;
  }
}

.item-home-image {
  width: 100%;

  @media (max-width: 768px) {
    display: none;
  }
}

.title-mobile {
  display: none;
  width: 100%;
  text-transform: uppercase;

  @media (max-width: 768px) {
    display: block;
  }
}

.btn-redirect {
  margin: 57px 0px 30px;
  font-size: 2.1em;
  border-radius: 5px;
  background-color: $brand-primary;
  color: white;

  @media (min-width: 768px) {
    padding: 11px 82px;
  }
}

.text-color-brand {
  color: $brand-primary;
}

.modal-header h4 {
  color: #000;
}

#premios-bloco {
  margin-top: 80px;
}

.purple {
  color: #7B2C7F
}

.pink {
  color: #E62E84;
}

.scale-effect {
  @include scaleEffect;
}

.text-base {
  font-size: 3em;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.natural-image {
  width: auto;
  max-width: 100%;
}

#modal-image-detail {
  .modal-body {
    text-align: center;
  }
}

.image-receipt {
  max-width: 100%;
}

#fale-conosco {
  .blocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    div {
      padding: 30px;
      border: solid 1px;
      margin: 20px;
      max-width: 400px;
      width: 100%;
    }
  }
}

#user-new {
  width: 100%;

  .buttons{
    display: flex;
    justify-content: space-between;

    @media (max-width: 768px) {
      flex-direction: column-reverse;

      button {
        margin: 10px 0px
      }
    }
  }
}

.doubt-title {
  cursor: pointer;
}

.link-rules {
  &.desk {
    @media (max-width: 768px) {
      display: none;
    }
  }

  &.mb {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }
}

#prizes-container {
  .text-container {
    font-size: 18px;
  }

  small {
    display: block;
    font-size: 15px;
  }
}