@import "brand_variables";

body {
  .button-a {
    background: $brand-primary;
    border: 15px solid $brand-primary;
    font-size: 13px;
    line-height: 1.1;
    text-align: center;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-weight: bold;
    transition: all 100ms ease-in;

    &:hover {
      background: $secondary-font-color !important;
      border-color: $secondary-font-color !important;
    }
  }

  .button-td {
    border-radius: 3px;
    background: $brand-primary;
    text-align: center;

    &:hover {
      background: $secondary-font-color !important;
      border-color: $secondary-font-color !important;
    }
  }
}