{% extends "site/layout/layout.twig" %}
{% block title %} | 404 Página não econtrada{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="error-container error-container-not-found">
                <h1 class="not-found-title">404</h1>
                <h3 class="error-message">A página que você acessou não existe</h3>
            </div>
        </div>
    </div>
{% endblock %}
