{% extends "site/layout/layout.twig" %}
{% block title %} | Erro{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            {% if app.debug %}
                <h2>Ops!</h2>
                <p class="text-white">{{ code }}</p>
            {% else %}
                <div class="error-container error-container-default">
                    <h1 class="error-title">Ops!</h1>
                    <h3 class="error-message">Não foi possível carregar esta página no momento</h3>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
