.banner-container-wrapper {
  max-width: 100%;
  //margin-bottom: 50px;
  height: 680px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  @media (max-width: 1400px) {
    height: 604px;
  }

  @media (max-width: 1200px) {
    height: 495px;
  }

  @media (max-width: 992px) {
    height: 365px;
  }

  @media (max-width: 768px) {
    height: auto;
    background-position: top;
  }

  //@media (max-width: 575px) {
  //  height: 190px;
  //}

  //@media (max-width: $screen-desktop) {
  //  height: 415px;
  //  background-size: cover;
  //}
  //
  //@media (max-width: $screen-sm-min) {
  //  height: 335px;
  //  background-size: cover;
  //}
  //
  //@media (max-width: $screen-xs-min) {
  //  height: 155px;
  //  background-size: cover;
  //}
}

.flexslider {
  margin: 0px 0px 35px;
  border: none;

  &.desktop {
    @media (min-width: 1400px) {
      height: 688px;
    }

    @media (max-width: 768px) {
      display: none;
    }
  }

  &.mobile {
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  .flex-control-nav {
    bottom: 10px;

    //@media (max-width: 1400px) {
    //  bottom: 10px;
    //}

    @media (max-width: 768px) {
      bottom: -5px;
    }
  }

  .flex-control-paging li a {
    background: rgba(#fff, 0.6);
  }

  .flex-control-paging li a.flex-active {
    background: rgba(#fff, 1);
  }

  .flex-direction-nav a {
    height: 45px;
  }

  .flex-direction-nav a:before {
    color: rgba(#fff, 0.8);

    @media (max-width: 768px) {
      font-size: 30px;
    }
  }
}

.container.banners {
  @media (max-width: 768px) {
    padding: 0px;
  }
}