/**
 * Align footer always on bottom
 *
 * @link https://codepen.io/cbracco/pen/zekgx
 */

$footer-height: 215px;
$footer-pseudo-margin-top: 15px;

html {
  // It's extremely important that html element have 100% of the view
  height: 100%;
}

body {
  position: relative;

  // This does the trick of maintaining space for the footer on page's bottom
  padding-bottom: $footer-height + $footer-pseudo-margin-top;

  // It's extremely important that body element have at least 100% of the view
  min-height: 100%;
}

#main-footer {
  a {
    color: $footer-font-color;

    &:hover {
      color: $footer-font-color
    }
  }

  margin: 50px 0px;
  position: absolute;
  width: 100%;

  background-color: $footer-bg-color;
  color: $footer-font-color;

  @media (min-width: $screen-desktop) {
    //padding: 40px;
  }

  @media (min-width: $screen-lg-desktop) {
    //padding: 79px 0 10px;
  }

  @media (max-width: 768px) {
    margin-top: 0px;
  }

  > .container {
    max-width: 100%;
  }

  > .container::before {
    content: '';
    display: block;

    width: 100%;
    padding-top: 25px;

    @media (min-width: $screen-desktop) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;

      margin: 0 auto;

      width: 70%;
    }

    @media (min-width: $screen-lg-desktop) {
      width: 39%;
      border-top: #ffffff solid 1px;
    }
  }

  .promo-text {
    padding-top: 30px;

    font-size: 1.4rem;
    word-spacing: -0.1em;

    @media (min-width: $screen-desktop) {
      padding-top: 51px;
      padding-right: 43px;
    }
  }

  .promo-text-content {
    position: relative;
    text-align: justify;

    @media(max-width: 992px) {
      text-align: left;
    }
  }

  @media (min-width: $screen-xlg-desktop) {
    .promo-text-title {
      text-align: right;
    }

    .promo-text-right {
      position: absolute;
      right: 0;
      bottom: 0;
    }
  }

  .nav-footer {
    @include list-unstyled;

    columns: 2;

    @media (min-width: $screen-phone) {
      width: 100%;
      columns: 3;
    }

    > li > a {
      display: block;

      padding: .17em;

      color: $footer-font-color;
      font-size: 1.5rem;
      font-weight: 500;

      letter-spacing: -0.03em;
    }
  }

  .footer-main-menu {
    @media(min-width: $screen-desktop) {
      padding-top: 50px;
    }

    @media (min-width: $screen-lg-desktop) {
      padding-left: 8px;
    }

    .nav-footer {
      margin-top: 30px;
      padding-top: 0px;

      text-align: center;

      border: solid $gray-lighter;
      border-width: 1px 0 0;

      > li:nth-last-child(-n+4) {
        display: none;
      }

      @media (min-width: $screen-desktop) {
        margin-top: 0;

        padding-top: 0px;
        padding-bottom: 25px;
        padding-left: 48px;

        columns: 2;
        width: 76%;

        text-align: left;

        border-width: 0 0 0 1px;

        > li:nth-last-child(-n+4) {
          display: list-item;
        }
      }
    }
  }

  .footer-crmall {
    padding-top: 10px;
    padding-bottom: 25px;
  }

  .first-icon {
    //display: flex;
    //justify-content: flex-end;
    margin-bottom: 13px;
    //flex-direction: column;
    //flex-wrap: wrap-reverse;

    img {
      max-width: 170px;
      max-height: 65px;
    }

    @media (max-width: 992px) {
      text-align: center;
    }
    //@media (max-width: 992px) {
    //  flex-direction: row;
    //  justify-content: center;
    //}
  }
}
