/*HOME VIEW*/
.block-home {
  .flex-container {
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;

    .flex-item {
      width: 90%;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
    }
  }

  &.raffle {
    text-align: center;

    p {
      &.purple {
        font-size: 2em;
      }
    }

    div.pink {
      font-size: 1.5em;
      display: flex;
      justify-content: center;
      align-items: flex-start;

      @media (max-width: 768px) {
        align-items: center;
        flex-direction: column;
      }

      .winner {
        display: flex;
        flex-direction: column;
        color: rgba(#E62E84, 0.7);

        small {
          font-size: 70%;
          color: rgba(#29D697, 0.75);
        }
      }

      div {
        &.divider {
          padding: 0px 15px;

          @media (max-width: 992px) {
            display: none;
          }
        }

        @media (max-width: 992px) {
          display: block;
        }
      }
    }
  }
}

.days-left-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}

.days-left-block {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;

  .text-container {
    color: $info-coupon-color;
    height: 75%;

    .head-container {
      @media (min-width: 768px) {
        padding-top: 52px;
      }

      h2 {
        font-size: 3.5em;
        margin-bottom: 0px;
        color: $general-font-color;

        @media (max-width: 768px) {
          font-size: 2.5em;
        }
      }

      .head-subtitle {
        font-size: 2em;
        letter-spacing: 0.01em;
        margin: 10px auto;

        @media (max-width: 768px) {
          font-size: 1.5em;
        }

        strong {

          color: $brand-primary;
          text-transform: uppercase;
        }
      }
    }


    .text {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      align-items: center;
      justify-content: center;

      @media (max-width: 768px) {
        flex-direction: column;
      }

      .text-part {
        padding: 5px;
        background-color: transparent;

        &.days-remaining-container {
          .days-remaining {
            background: #7B2C7F;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            padding: 20px 45px;
            border-radius: 22px;

            span {
              color: #FEC131;
            }
          }
        }
      }

      span {
        font-size: 3em;
        letter-spacing: 1px;
        font-style: italic;
        font-weight: bold;

        @media (max-width: 992px) {
          font-size: 2em;
        }
      }
    }
  }

  &.receipts {
    height: auto;

    .text-container {
      height: auto;
    }

    strong {
      text-transform: uppercase;
    }

    &.footer {
      .head-subtitle {
        text-transform: uppercase;
      }

      margin-top: 0px;
    }
  }
}

.middle-text-block {
  margin: 35px 0;

  p {
    font-size: 1.7em;
    color: $general-font-color;
    text-transform: uppercase;
    font-weight: 700;

    span {
      color: $secondary-font-color;
      font-size: 1.5em;
    }
  }
}

.border-vertical-mobile {
  display: none;
}

.border-vertical-mobile img {
  transform: rotate(90deg);
}

@media (max-width: 1200px) {
  .block-home .flex-container .flex-item {
    width: 100%;
  }
}

@media (max-width: 992px) {
  .days-left-block .head-container .head-subtitle {
    font-size: 22px;
  }
}

@media (max-width: 768px) {
  .head-container .head-subtitle {
    font-size: 24px;
    margin: 0 auto;
  }

  /*FIRST DIV*/
  .days-left-block .text .days-remaining-container .days-remaining {
    width: 80%;
    height: 60px;
  }
  /*FIRST DIV*/
}

@media (max-width: 500px) {
  /*FIRST DIV*/
  .days-left-block .text .days-remaining-container .days-remaining {
    width: 80%;
    height: 60px;
  }

  .days-left-block .text-container .text {
    padding-left: 0;
    padding-right: 0;
  }

  .days-left-block .text-container .head-container {
    padding-left: 0;
    padding-right: 0;
  }
  /*FIRST DIV*/
}

@media (max-width: 375px) {
  /*FIRST DIV*/
  .days-left-block .text .days-remaining-container .days-remaining {
    width: 100%;
    height: 40px;
    padding: 0px;
  }
  /*FIRST DIV*/
}

@media (max-width: 340px) {
  .head-container .head-subtitle {
    font-size: 20px;
    margin: 0 auto;
  }
}

.como-participar-image {
  width: 100%;
  margin-top: 50px;
}

.img-participe {
  padding: 25px 0px 25px 0px;

  @media(max-width: $screen-phone) {
    width: 70%;
  }
}

@mixin titleDefault {
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.95px;
}

#slogan {
  h3 {
    font-size: 45px;
    @include titleDefault
  }
}

.info-status {
  @include titleDefault;

  a {
    color: white;
    text-decoration: underline;
  }
}

.sign-in {
  font-size: 3em;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: bold;
  margin-top: 45px;

  &.participate {
    margin: 100px 0px 0px;
    font-size: 3.5em;

    @media (max-width: 768px) {
      margin: 50px 0px 0px;
      font-size: 2em;

      a {
        max-width: 215px;
      }
    }
  }

  //.flex-item {
  //  //@media (max-width: 768px) {
  //  //  flex-direction: column;
  //  //}
  //}

  a:hover{
    text-decoration: none;
  }

  @media (max-width: 992px) {
    font-size: 2em;
  }

  img {
    margin: 0px 15px;

    @media (max-width: 768px) {
      //display: none;

      padding: 10px 0px;
      width: 50px;
      margin: 0px;
    }
  }
}

.bg-link {
  text-transform: uppercase;
  color: #7B2C7F;
  background: #FDAA4E;
  padding: 20px 45px;
  border-radius: 22px;

  @media (max-width: 768px) {
    //margin-left: 15px;
    padding: 10px 35px;
  }

  &:hover {
    text-decoration: none;
    color: #7B2C7F;
  }
}

#como-funciona-bloco {
  .row-center {
    display: none;
  }

  img.how-participate-mb {
    width: 100%;
    display: none;

    @media (max-width: 768px) {
      display: block;
    }
  }

  @media (max-width: 768px) {
    margin-right: -15px;
    margin-left: -15px;
  }

  h2 {
    @media (max-width: 768px) {
      color: #E62E84;
      font-weight: 700;
      margin: 35px 0px;
    }
  }

  @media (min-width: 768px) {
    background-image: url(/img/how-participate-bg-2.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 50px;
    padding: 10px 0px;

    @media (max-width: 1400px) {
      background-size: cover;
    }

    h2 {
      font-size: 1.25em;
      margin: 35px 0px;
      font-weight: bold;
      color: #FFF;
    }

    p {
      font-size: 0.6em;
    }

    a {
      text-decoration: none;
      color: #7B2C7F;

      &:hover{
        color: #7B2C7F;
      }
    }

    .row-center {
      display: flex;
      justify-content: center;

      div {
        padding: 20px;
        max-width: 300px;

        p {
          margin: 10px;
        }

        @include scaleEffect;
      }

      &.second {
        div {
          max-width: 200px;
        }
      }
    }
  }
}