// Navbar heights
$navbar-mobile-height: 52px;
$navbar-md-desktop-height: 98px + $navbar-margin-bottom;
$navbar-lg-desktop-height: 98px + $navbar-margin-bottom;
$navbar-xlg-desktop-height: 131px;

// Logo and login top alignment
$nav-brand-desktop-lg-top-alignment: 12px;
$nav-brand-desktop-xlg-top-alignment: 25px;

// This does the trick of maintaining space for the menu on the top of the page
body {
  padding-top: $navbar-mobile-height;

  @media (min-width: $screen-desktop) {
    padding-top: $navbar-md-desktop-height;
  }

  @media (min-width: $screen-lg-desktop) {
    padding-top: $navbar-lg-desktop-height;
  }

  @media (min-width: $screen-xlg-desktop) {
    padding-top: $navbar-xlg-desktop-height;
  }
}

body.menu-visible {
  overflow: hidden;
  height: 100%;
}

#main-menu {
  position: fixed;
  z-index: 1040;
  top: 0;
  left: 0;

  margin-bottom: 0;

  width: 100%;
  //height: $navbar-mobile-height;
  background: $menu-bg-color;

  //@media (min-width: $screen-desktop) {
  //  height: $navbar-md-desktop-height;
  //  padding-bottom: $navbar-margin-bottom;
  //}
  //
  //@media (min-width: $screen-lg-desktop) {
  //  height: $navbar-lg-desktop-height;
  //}
  //
  //@media (min-width: $screen-xlg-desktop) {
  //  height: $navbar-xlg-desktop-height;
  //  padding-bottom: 0;
  //}

  > .container {
    @media (min-width: 992px) {
      display: flex;
      align-content: center;
      justify-content: space-between;
      align-items: center;
      height: 131px;
    }

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  .nav-user {
    @media (max-width: 992px) {
      text-align: center;
      padding: 20px 0px 0px;
    }
  }

  .nav-user-links {
    @media (max-width: 992px) {
      background-color: rgba($brand-primary, 0.2);
    }
  }

  .menu-visible & {
    height: 100%;
    overflow-y: auto;
  }

  .navbar-header {
    position: relative;
    display: flex;
    justify-content: space-between;

    @media (min-width: $screen-desktop) {
      position: static;
    }

    a {
      &.user-link {
        display: none;
        padding: 12px 0px 0px;

        svg {
          fill: #838383;
          height: 30px;

        }

        @media (max-width: 992px) {
          display: block;
        }

        @media (max-width: 768px) {
          padding: 12px 10px 0px;
        }
      }
    }

    .logo-link {
      float: none;
    }

   &:before,
   &:after {
     @media (max-width: 768px) {
       content: none;
     }
   }
  }

  .logo {
    width: 140px;

    @media (min-width: 1200px) {
      width: 215px;
    }

    @media (min-width: 1400px) {
      width: 190px;
    }

    @media (max-width: 992px) {
      padding-top: 10px;
    }
  }

  .navbar-toggle {
    margin: auto 0;
    padding: 18px;
  }

  .navbar-toggle .icon-bar {
    background-color: $navbar-default-toggle-icon-bar-bg;
  }

  .navbar-collapse,
  .navbar-nav {
    @include make-row;

    @media (min-width: $screen-desktop) {
      margin: 0;
    }
  }

  .navbar-collapse {
    padding: 0px;
    
    @media (max-width: 1200px) {
      
    }

    @media (min-width: 992px) {
      min-width: 825px;
      max-width: 100%;
    }

    &.logged-menu {
      position: relative;

      li {
        a {
          padding: 5px 11px 0px;
        }
      }

      @media (min-width: 992px) {
        .navbar-nav.default {
          padding-top: 25px;
        }
      }
    }
  }

  .navbar-nav {
    text-align: center;
    position: relative;

    @media (min-width: $screen-desktop) {
      float: right;
    }

    @media (min-width: $screen-desktop) and (max-width: $screen-xlg-desktop) {
      margin-left: -9px;
      margin-right: -9px;
    }

    @media (min-width: $screen-lg-desktop) {
      padding-left: 6px;
    }

    &.navbar-stretch {
      @media (min-width: 992px) {
        display: flex;
        align-items: center;
      }

      @media (max-width: 1200px) {
        position: relative;
      }

      @media (max-width: 992px) {
        position: relative;
        padding: 0px 5px;
        width: 100%;
        margin: auto;
      }

      > li {
        @media (min-width: $screen-desktop) {
          //padding: 0 22px;
        }

        @media (min-width: $screen-tablet) {
          //padding: 0 6px;
        }

        &:nth-child(2) {
          padding-left: 0;
        }
      }
    }

    li {
      padding: 0.8em;
      border-top: 2px solid $menu-font-color;

      a {
        padding: 10px;
      }
    }

    a {
      font-size: 1.8em;
      font-weight: 500;
      line-height: 1.1em;
      text-transform: uppercase;

      letter-spacing: -0.015em;
      word-spacing: -0.1em;
      color: $menu-font-color;
      background-color: #FFF;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .nav-login {
    @media (min-width: 992px) and (max-width:1400px)  {
      position: absolute;
      right: 16px;
      top: -35px;
    }

    a {
      color: $nav-login-color;
      background-color: $brand-primary;
      border-radius: 25px;
      border: solid 1px $brand-primary;

      &:hover {
        color: $brand-primary;
        background: #FFF;

        .icon-login {
          fill: $brand-primary;
        }
      }

      .icon-login {
        margin-right: 2px;
        width: 1em;
        max-height: 25px;

        display: inline-block;

        fill: $nav-login-color;

        @media (max-width: $screen-tablet) {
          fill: $brand-primary;
        }

        @media (min-width: $screen-desktop) {
          margin-right: 4px;
          width: 1em;
          vertical-align: middle;
        }
      }

      @media (max-width: $screen-tablet) {
        background-color: transparent;
        color: $brand-primary;
        fill: $brand-primary;
      }

      @media (min-width: $screen-xlg-desktop) {
        font-size: 1.2em !important;
        letter-spacing: 0.04em !important;
        padding: 10px 14px;
      }
    }
  }

  .nav-user > a {
    font-size: 1.5em;
    display: inline;
  }

  .nav-user .welcome-message {
    color: $brand-secondary;
    padding: 2px 10px;

    @media (max-width: $screen-xlg-desktop) {
      padding: 7px 15px;
    }

    @media (max-width: 992px) {
      font-size: 1.5em;
      text-align: center;
    }
  }

  .nav-user-links {
    @media (min-width: 992px) {
      background-color: transparent;
    }

    margin-bottom: -0.8em;
    color: $brand-primary;
  }

  .nav-user-links li {
    padding: 0.5em;
  }

  .nav-user-links a {
    color: $brand-primary;
    font-size: 1.1em;
    font-weight: normal;

    &:hover {
      text-decoration: underline;
    }
  }

  // Desktop menu
  @media (min-width: $screen-desktop) {
    .navbar-nav li {
      padding: 0 5px 0 0;
      border-top: none;
    }

    .navbar-nav li::after {
      content: "|";

      color: $menu-font-color;

      position: absolute;
      top: -8px;
      bottom: 0;
      right: 0;

      margin: auto;

      display: block;
      height: 1em;

      font-size: 1.5rem;
    }

    .navbar-nav li.no-divider::after {
      content: '';
    }

    // Remove links separator
    .navbar-nav > li.nav-login,
    .navbar-nav > li.nav-user,
    .navbar-nav > li:last-child {
      padding-right: 0;

      &::after {
        content: none;
      }
    }

    .navbar-nav a {
      font-size: 1.58rem;
      letter-spacing: 0.06em;

      // Fix broken navbar layout
      @media (max-width: $screen-lg-desktop) {
        font-size: 1.3rem;
        padding: 10px;
      }

      @media (min-width: $screen-lg-desktop) and (max-width: $screen-xlg-desktop) {
        font-size: 1.36rem;
        padding: 10px;
        border-radius: 57px;
      }
    }

    .nav-user {
      position: absolute;
      right: 6px;
    }

    .nav-user-links {
      display: block;
      height: auto;
      background-color: #FFF;
    }

    .nav-user > a,
    .nav-user-links,
    .nav-user-links li {
      float: left;
    }

    .nav-user > a,
    .nav-user-links a {
      font-size: 1em;
    }

    .nav-user > a {
      padding-right: 7px;
      color: $nav-login-color;
    }

    .nav-user-links a {
      padding: 5px 11px 0px;

      color: $brand-primary;
      font-weight: normal;

      // Fix broken navbar layout
      @media (max-width: $screen-xlg-desktop) {
        padding: 10px;
      }
    }
  }
}
