{% extends "site/layout/layout.twig" %}
{% block title %} | Esqueci minha senha{% endblock %}
{% block content %}
    <div class="row" id="reset-password-container">
        <div class="block-reset-password">
            <div class="col-md-offset-3 col-md-6 text-center">
                <h3>REDEFINIÇÃO DE SENHA</h3>
            </div>
            <div class="col-md-offset-4 col-md-4 text-center" style="padding-bottom: 40px;">
                <p>Digite seu email e enviaremos instruções para que você possa entrar novamente.</p>
            </div>
            <div class="col-md-offset-4 col-md-4">
                {% if message is defined %}
                    <div class="alert alert-{{ class }} alert-dismissible" role="alert">
                        {{ message }}
                    </div>
                {% else  %}
                    <form action="/user/forgot-password" method="post" class="form-validate form-with-label">
                        <div class="form-group">
                            <label class="display-block">Email do cadastro*<span class="top-hint pull-right">Campos obrigatórios *</span></label>
                            <input type="email" name="email" class="form-control" placeholder="nome@example.com" required>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-success btn-block ladda-button">Enviar</button>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
            scrollPage('reset-password-container');
        });
    </script>
{% endblock %}
