{% extends "site/layout/layout.twig" %}
{% block title %} | Fale Conosco {% endblock %}
{% block content %}
    <div class="blocks-container block-prizes" id="fale-conosco">
        <div class="col-12 head-container">
            <div class="text-center">
                <h2>Fale Conosco</h2>
            </div>
        </div>
        <div class="blocks">
            <div>
                <strong>Chat</strong>
                <p>
                <a href="http://riogaleao.custhelp.com/app/chat/chat_launch/survey_comp_id/14/survey_comp_auth/25c0226ccf847b988375cf8a0ef9deaaf56ac5a6/chat_data/cV9pZD0xJnN0YXRlPTEyJiZoYXNoPTE1Mzk4OTQxMzc2NzR2NHljZA../request_source/7" target="_blank">Clique aqui</a> e entre em um chat com um integrante da nossa equipe de suporte. Nosso horário de atendimento é de 06:00 às 22:00 todos os dias.
                </p>
            </div>
            <div>
                <strong>WhatsApp</strong>
                <p>Converse conosco todos os dias das 06h00 às 22h00</p>
                <p><a href="tel:+5521967615041">+ 55 21 96761-5041</a></p>
            </div>
            <div>
                <p>Telefone</p>
                <p>Atendimento</p>
                <p>Ouvidoria – 06:00 às 22:00</p>
                <p><a href="tel:+552130046050">+55 21 3004-6050</a></p>
            </div>
        </div>
    </div>

    {#<iframe src="https://riogaleao.custhelp.com/app/ask" frameborder="0" style="width: 100%; height: 768px"></iframe>#}
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            scrollPage('fale-conosco');
        });
    </script>
{% endblock %}