{% extends "site/layout/layout.twig" %}
{% block title %} | Login {% endblock %}

{% block content %}
    <div id="register-container" class="blocks-container block-login">
        <div class="col-12">
            <div>
                <h3>{{ app.campaignFinished?'':'CADASTRE SEUS CUPONS FISCAIS'}}</h3>
            </div>
        </div>
        <div class="col-12 block-header-steps-container hidden-xs">
            <div class="block-header-steps active">
                <span>01. Login</span>
            </div>
            <div class="block-header-steps">
                <span>02. Cupons</span>
            </div>
        </div>
        <div class="col-12">
            <div class="block-description">
                {{ app.campaignFinished?'<p class="title">O período de cadastro de cupons está encerrado</p>':'' }}
                <p class="title">Atente-se a todas as informações solicitadas e preencha os campos de acordo com sua <strong>nota fiscal</strong>.</p>
                <p class="subtitle">
                    Ao se cadastrar você estará de acordo com o <a href="/regulamento" target="_blank"><strong><u>Regulamento da promoção</u></strong></a>.
                </p>
            </div>
        </div>
        <div class="col-12">
            <div class="flex-container">
                {% if app.campaignFinished == false %}
                    <div class="flex-item column">
                        <div>
                            <h4>Ainda não se cadastrou?</h4>
                            <a href="/user/cadastro" class="btn btn-large btn-success btn-block register-btn">CADASTRE-SE</a>
                        </div>
                    </div>
                {% endif %}
                <div class="flex-item column">
                    <div class="col-md-12 align-title">
                        <h4> {{ app.campaignFinished?'Entre e veja seus cupons':'Se já possui cadastro, acesse e participe!' }}</h4>
                    </div>
                    <div class="col-md-offset-2 col-md-10">
                        {% if login_error is defined %}
                            <label class="error" id="errorLogin">{{ login_error }}</label>
                        {% endif %}
                    </div>
                    <form class="form-validate" action="/user/login" method="post" id="loginUserForm">
                        <div class=" col-md-offset-2 col-md-10">
                            <div class="form-group">
                                <input type="text" class="form-control mask-cpf" name="_username" placeholder="CPF" required>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-10">
                            <div class="form-group">
                                <input type="password" class="form-control" name="_password" placeholder="Senha" required>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-10 login-btn-container">
                            <div class="form-group">
                                <button type="submit" class="btn btn-large btn-success btn-block login-btn ladda-button">ACESSE</button>
                            </div>
                        </div>
                        <div class="col-md-offset-2 col-md-10">
                            <div class="text-left forgot-password">
                                <a href="/esqueci-minha-senha">Esqueceu sua senha?</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function() {
            scrollPage('register-container');
            $(".mask-cpf").mask("000.000.000-00");
        });
    </script>
{% endblock %}
