{% extends "site/layout/layout.twig" %}
{% block title %} | Regulamento {% endblock %}
{% block styles %}
    <style>
        .rules-text ol {
            list-style-type: none;
            counter-reset: item;
            margin: 0;
            padding: 0;
        }

        .rules-text ol > li {
            word-break: break-word;
            display: table;
            counter-increment: item;
            margin-bottom: 0.6em;
        }

        .rules-text ol > li:before {
            content: counters(item, ".") ". ";
            display: table-cell;
            width: 40px;
        }

        .rules-text li ol > li {
            margin: 0;
        }

        .rules-text li ol > li:before {
            content: counters(item, ".") " ";
        }

        .rules-text table {
            margin: 20px auto;
            text-align: center
        }

        .rules-text table td {
            padding: 5px;
            border: solid 1px;
        }

        #rules-container h2.text-center {
            font-size: 2em;
        }

        @media (max-width: 768px) {
            .rules-text table td {
                width: 140px;
                word-break: break-all;
            }

            .rules-text ol > li {
                text-align: left;
            }

            #rules-container h2.text-center {
                font-size: 1.25em;
            }
        }
    </style>
{% endblock %}
{% block content %}
    <div class="blocks-container block-rules" id="rules-container">

        <div class="col-12 head-container">
            <div>
                <h2 class="text-center">PLANO DE OPERAÇÃO DE
                    DISTRIBUIÇÃO GRATUITA DE PRÊMIOS
                    <br>PROMOÇÃO “VIVA SUA PRÓXIMA VIAGEM COM RIOGALEÃO”
                </h2>
            </div>
        </div>

        <div class="flex-container">
            <div class="col-12 rules-text">
                <ol>
                    <li>
                        DESCRIÇÃO DO PROCESSO DE PARTICIPAÇÃO
                        <ol>
                            <li>
                                A Promoção “VIVA SUA PRÓXIMA VIAGEM COM RIOGALEÃO” será realizada pela CONCESSIONÁRIA AEROPORTO DO RIO DE JANEIRO S.A., inscrita no CNPJ/MF, sob o nº 19.726.111/0001-08, em parceria com as lojas e quiosques, listados no Anexo I deste Regulamento, no Aeroporto Internacional Antônio Carlos Jobim/Galeão, localizado na Avenida 20 de Janeiro, S/N, CEP 21941-570, Rio de Janeiro/RJ (“RIOgaleão”), no período de 17/12/2018 a 20/03/2019.
                                <ol>
                                    <li>
                                        O período de participação da promoção está compreendido entre os dias 17/12/2018 e 15/03/2019, sendo aberta a qualquer pessoa física, maior de 18 (dezoito) anos, com CPF válido, residente e domiciliada no Brasil, que queira participar.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                Os interessados terão oportunidade de concorrer aos prêmios desta promoção nas seguintes formas:

                                <br>(i) A cada R$ 50,00 (cinquentas reais) gastos em compras, em quaisquer das lojas e/ou quiosques participantes da promoção relacionados no Anexo I deste Regulamento, no período de participação da promoção, o participante terá direito a 01 (um) cupom de participação.

                                <br>(ii) A cada R$ 150,00 (cento e cinquenta reais) gastos em compras, em quaisquer das lojas e/ou quiosques participantes da promoção relacionados no Anexo I deste Regulamento, no período de participação da promoção, o participante terá direito a 10 (dez) cupons de participação.

                                <br>(iii) A cada R$ 250,00 (duzentos e cinquenta reais) gastos em compras, em quaisquer das lojas e/ou quiosques participantes da promoção relacionados no Anexo I deste Regulamento, no período de participação da promoção, o participante terá direito a 100 (cem) cupons de participação.
                            </li>
                            <li>
                                Somente serão válidas as notas e/ou cupons fiscais de produtos ou serviços emitidos: (i) por lojas e/ou quiosques aderentes à promoção, conforme listagem anexa, sediados no RIOgaleão; e (ii) com data de emissão dentro do período de participação desta promoção.
                            </li>
                        </ol>
                    </li>
                    <li>
                        CADASTRO E OBTENÇÃO DE CUPONS DE PARTICIPAÇÃO
                        <ol>
                            <li>
                                Após a compra em uma das lojas e/ou quiosques aderentes à promoção e de posse da(s) nota(s) e/ou cupom(ns) fical(is), o interessado em  participar nesta promoção deverá realizar um cadastro através do hotsite da promoção em www.vivasuaproximaviagem.com, devendo o interessado:

                                <br>(i) Realizar o cadastro dos dados pessoais informando nome e endereço completos, CPF, RG, telefone de contato (com DDD), número do voo (se houver) e e-mail válido;

                                <br>(ii) Depois de realizado o cadastro dos dados pessoais, realizar o upload da(s) nota(s) e/ou cupom(ns) fical(is) original(is) no hotsite, de forma legível e completa;

                                <br>(iii) Efetuar cadastro de sua(s) compra(s), mediante registro da(s) nota(s) e/ou cupom(ns) fical(is) original(is),  informando o CNPJ do estabelecimento da compra, data da compra e valor, número do ECF (Emissor de Cupom Fiscal), número da(s) nota(s) e/ou cupom(ns) fical(is) de compra;

                                <br>(iv) Em seguida, deverá responder à pergunta da promoção:

                                <br>
                                “COM QUAL AEROPORTO VOCÊ VAI VIVER SUA PRÓXIMA VIAGEM?”
                                <br>
                                ( ) RIOgaleão ( ) Outros
                                <br>
                                <br>
                                (v) Dar o aceite às condições do Regulamento da promoção;
                                <br>
                                (vi) E, por fim, criar um login, que será o CPF do participante e senha.
                            </li>
                            <li>
                                Em relação à(s) nota(s) e/ou cupom(ns) fical(is) de compra, a depender do documento fiscal emitido na compra, os números a serem informados relativos a tal documento serão:

                                <br>•	Nota Fiscal – DANFE: os números do seu comprovante fiscal são os números identificados no documento como número do DANFE e número da série;

                                <br>•	Nota Fiscal de Consumidor Eletrônica – NFC-e: os números do seu comprovante fiscal são os números identificados no documento como número da NFC-e e o número da série.

                                <br>• Comprovantes Originais de Compras: os números do seu comprovante são os números identificados no documento como SEQ.
                            </li>
                            <li>
                                Após o cadastramento dos dados pessoais do participante, bem como o cadastro e upload da(s) nota(s) e/ou cupom(ns) fical(is) de compra, o participante irá visualizar mensagem de confirmação do cadastro na promoção. </li>
                            <li>
                                Cada nota e/ou cupom fiscal de compra poderá ser cadastrada apenas 01 (uma) vez nesta promoção, sendo a verificação feita no momento do cadastro e sujeitará o participante à desclassificação.
                            </li>
                            <li>
                                Ficam os participantes cientes, desde já, que o cadastro na promoção é individualizado, por meio do CPF, e que não será admitida, por força de legislação fiscal, “divisão de valores de notas fiscais” entre participantes no ato da compra ou do cadastro no hotsite.
                            </li>
                            <li>
                                O participante deverá guardar a(s) nota(s) e/ou cupom(ns) fical(is) de compra cadastrados, uma vez que, o RIOgaleão solicitará apresentação dos mesmos, como condição para a validação da participação e consequente entrega do prêmio, nos termos previstos no art. 46, parágrafo único da Portaria nº MF 41/08, no ato de cada apuração.
                            </li>
                            <li>
                                Em caso de dúvidas ou se quaisquer nota(s) e/ou cupom(ns) fical(is) de compra cadastrados não sejam aceitos pelo hotsite da promoção, o participante deverá entrar em contato por meio de Telefone (+55 21 3004-6050), WhatsApp (+ 55 21 96761-5041) e/ou Chat, disponibilizado em http://www.riogaleao.com/atendimento/.
                            </li>
                            <li>
                                Quanto aos estabelecimentos comerciais localizados no interior do RIOgaleão, que por força de legislação tributária, são desobrigados de emitir nota fiscal ou cuja nota fiscal é entregue apenas posteriormente à entrega do produto ou serviço, os participantes deverão cadastrar no hotsite o recibo como comprovação de compra, com data especificada dentro do período de participação, a fim ter direito aos cupons de participação desta promoção.
                                <ol>
                                    <li>
                                        Contudo, caberá ao RIOgaleão a decisão final a respeito da validade da documentação cadastrada nestas condições, para fins de participação nas apurações desta promoção.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                Visando garantir a idoneidade da promoção, no caso de apresentação de mais de (i) 03 (três) comprovantes de compras emitidos na mesma data, pelas lojas e/ou quiosque participantes ou (ii) 03 (três) comprovantes de consumo emitidos pelos fast-foods ou restaurantes, com numeração sequenciada ou não, e contendo a mesma data de emissão; ou, ainda, independentemente da data de emissão da nota e/ou cupom fiscal de compra, ou caso julgue necessário, o RIOgaleão se reserva o direito de consultar o estabelecimento emitente, antes de atribuir os cupons aos participantes.
                                <ol>
                                    <li>
                                        Em caso de confirmação de alguma irregularidade, a(s) respectiva(s) nota(s) e/ou cupom(ns) fical(is), bem como comprovantes originais de compras serão invalidados para efeito de participação nesta promoção.
                                    </li>
                                </ol>
                            </li>
                            <li>
                                <strong>Não serão aceitos</strong> para fins de participação nessa promoção: (i) notas e/ou cupons fiscais e/ou comprovantes de compras ilegíveis, rasurados, emitidos em nome de pessoa jurídica ou que tenham quaisquer modificações; (ii) comprovantes isolados de pagamento com cartão de crédito e/ou débito ou extrato bancário comprovando o débito, devendo sempre ser apresentada a respectiva nota e/ou cupom fiscal de compra referente à compra realizada; (iii) recibos de pagamento de contas; (iv) comprovantes de compras realizadas via internet; (v) notas e/ou cupons fiscais relativos à compra de armas, munições, explosivos, fogos de artifício ou de estampido, medicamentos, bebidas alcoólicas, fumos e seus derivados, de acordo com a disposição do artigo 10 do Decreto n.º 70.951/72.
                            </li>
                            <li>
                                Também <strong>não serão aceitos</strong> para fins de participação nessa promoção os cupons e/ou notas fiscais e/ou comprovantes originais de compras emitidos pelas lojas e/ou quiosques não participantes, hotéis e postos de gasolinas, assim como aqueles referentes a serviços bancários, jogos eletrônicos, câmbio e casa Lotérica.
                            </li>
                            <li>
                                Serão considerados válidos os comprovantes referentes ao estacionamento, bem como as compras realizadas em drogarias e farmácias referentes a produtos como: artigos de higiene pessoal, cosméticos e perfumaria. Da mesma forma, com relação aos restaurantes e quiosques, serão consideradas válidas para participar apenas os valores referentes a alimentos e excluindo-se as bebidas alcoólicas independentemente do seu teor alcoólico.
                            </li>
                            <li>
                                Ficam os participantes cientes, desde já, que não poderão utilizar de meios escusos para adquirir nota(s) e/ou cupom(ns) fical(is) e/ou comprovantes originais de compras para participar desta promoção e/ou de mecanismos que criem condições de cadastramento irregular, desleais ou que atentem contra os objetivos e condições de participação previstas neste regulamento, que é a compra de produtos/serviços nas lojas e/ou quiosques do RIOgaleão, situações essas que, quando identificadas, serão consideradas como infração aos termos do presente Regulamento, ensejando o impedimento da participação e/ou o imediato cancelamento da inscrição do participante e/ou da entrega do prêmio, sem prejuízo, ainda, das medidas cabíveis e/ou ação de regresso a ser promovido pelo RIOgaleão em face do infrator.
                            </li>
                            <li>
                                As informações sobre a quantidade de cupons de participação cadastrados na promoção, para cada apuração, poderão ser consultadas a qualquer tempo, no hotsite da promoção, bastando informar o login e a senha criada no momento do cadastramento (primeiro acesso).
                            </li>
                            <li>
                                Não haverá limite de cupons de participação por participante, podendo cada um concorrer com quantos cupons desejar, desde que atenda às condições de participação.
                            </li>
                            <li>
                                O acesso à Internet é necessário para realização da participação nesta promoção e sua qualidade pode variar de acordo com a modalidade e tipo de conexão, do aparelho utilizado para acessar a Internet e da disponibilidade momentânea da rede. O RIOgaleão não se responsabiliza por eventual impossibilidade de acesso para participação via Internet, incluindo, mas não se limitando, a um dos motivos acima descritos. Da mesma forma, o RIOgaleão não se responsabiliza pelo desempenho dos computadores, tablets e smartphones que não contenham a configuração mínima ou versões atuais para acessar o hotsite da promoção.
                            </li>
                        </ol>
                    </li>
                    <li>
                        DAS APURAÇÕES
                        <ol>
                            <li>
                                No dia anterior de cada apuração, o RIOgaleão irá realizar a impressão dos cupons de participação desta promoção até às 20h do dia anterior da respectiva apuração, exceto na apuração do dia 20/02/2019, ocasião em que os cupons serão impressos até às 12h do mesmo dia para serem inseridos na urna pelo RIOgaleão, que fica, desde já, autorizado a emiti-los e depositá-los na referida urna para que os participantes possam efetivamente concorrer aos prêmios.
                                <ol>
                                    <li>
                                        Somente serão válidos os cupons de participação emitidos pelo RIOgaleão que preencham os requisitos mínimos de participação e que possibilitem a verificação de sua autenticidade.
                                    </li>
                                    <li>
                                        Para esta promoção será disponibilizada 01 (uma) urna. A urna será lacrada logo após a colocação dos cupons de participação da promoção pelo RIOgaleão, sendo reaberta para a realização das apurações e após, novamente será lacrada até a impressão e depósito de novos cupons nas demais apurações.
                                    </li>
                                </ol>

                            </li>
                            <li>
                                Serão realizadas 03 (três) apurações, no Terminal 02 (desembarque doméstico), do RIOGaleão. A primeira apuração ocorrerá às 11h do dia 23/01/2019 e as demais apurações ocorrerão às 19h dos dias 20/02/2019 e 20/03/2019.
                            </li>
                            <li>
                                Em cada apuração serão sorteados, manual e aleatoriamente, tantos cupons quantos se fizerem necessários, até que se encontre 01 (um) cupom válido, que, atendendo às condições de participação desta promoção, com dados suficientes à localização e identificação do ganhador, atendendo as demais condições de participação (incluindo notas e/ou cupons fiscais de compras), e contendo a resposta correta à pergunta da promoção devidamente assinalada, será seu titular contemplado com:
                                <br>• 01 (um) voucher viagem com crédito de R$20.000,00 (vinte mil reais), sendo 01 (um) por ganhador, para 01 (um) destino a sua escolha, desde que tal destino seja atendido por voo direito saindo do RIOgaleão. As opções de destinos descritas no Anexo II deste regulamento poderão sofrer alteração (exclusão e/ou adição) conforme as determinações das companhias áreas.
                            </li>

                            <li>Nesta promoção serão distribuídos 03 (três) vouchers viagens, com crédito de R$ 20.000,00 (vinte mil reais) cada, totalizando R$ 60.000,00 (sessenta mil reais).
                            </li>
                            <li>Nesta promoção haverá cumulatividade de cupons para as apurações, nos dias 23/01, 20/02 e 20/03/2019. Assim, os cupons que participarem de uma apuração participarão das apurações posteriores, sendo certo que ao final de cada apuração será feita uma cópia do cupom contemplado e o original será inserido novamente na urna junto com os demais cupons.
                            </li>
                            <li>A identificação de cada ganhador nas apurações será acompanhada por pessoa de reconhecida capacidade e idoneidade para realizar esse tipo de trabalho, que avaliará os cupons sorteados, com decisão soberana sobre a sua validade e elaborará as respectivas Atas de Apuração, a serem posteriormente entregues à SEFEL - Secretaria de Acompanhamento Fiscal, Energia e Loteria.
                            </li>
                            <li>Os nomes dos ganhadores serão publicados no hotsite da promoção    www.vivasuaproximaviagem.com.
                            </li>
                            <li>Qualquer pessoa poderá assistir, gratuitamente, as apurações nos dias, local e horário indicado neste Regulamento.
                            </li>
                        </ol>
                    </li>
                    <li>
                        DESCLASSIFICAÇÃO
                        <ol>
                            <li>As notas e/ou cupons fiscais de compras serão validadas no momento da apuração. É de total responsabilidade do participante o upload legível e completo da(s) nota(s) e/ou cupom(ns) fiscal(is) de compras.
                            </li>
                            <li>Deverá o participante se atentar para o cadastro de notas e/ou cupons fiscais de compras enviadas para participação que contenham a indicação de CPF do adquirente cadastrado ou sem CPF, uma vez que o número de CPF cadastrado nesta promoção deverá ser válido e correspondente ao nome informado no cadastro, sendo certo que serão passíveis de desclassificação os cadastros que contiverem inconsistências de dados.
                            </li>
                            <li>Não se admitirá a participação por meio de nota(s) e/ou cupom(ns) fical(is) de compra(s) cuja data não esteja dentro do período de participação ou, ainda, contendo dados que não possam ser confirmados mediante consulta aos órgãos governamentais.
                            </li>
                            <li>Serão desclassificados desta promoção, os participantes cuja participação tenha sido feita com fraude; efetuada por meio da obtenção de benefício/vantagem de forma ilícita; ou que não cumprirem quaisquer das condições deste regulamento, incluindo, mas não se limitando, aos seguintes casos, a participação: (i) com mais de um CPF; (ii) em que não haja a efetiva confirmação da comprovação da condição de participação; (iii) que utilize mecanismos que criem condições irregulares e/ou desleais ou que atentem contra os objetivos e condições de participação desta promoção; (iv) efetuadas por pessoas impedidas de participar; (v) não apresentarem a resposta correta à pergunta formulada; (vi) que não apresentarem dados suficientes à identificação ou localização do participante; e (vii) que não contenham informações completas e correspondentes às condições de participação estabelecidas neste Regulamento.
                                <ol>
                                    <li>
                                        Identificada algumas destas hipóteses, o participante será imediatamente desclassificado.
                                    </li>
                                </ol>

                            </li>
                            <li>
                                Caso esta constatação ocorra no ato da apuração, um novo cupom será retirado, até que se encontre um cupom válido com a indicação do ganhador correspondente, sendo que, em caso de verificação posterior, a desclassificação acarretará no recolhimento por parte do RIOgaleão do valor do prêmio aos cofres da União Federal.
                            </li>
                        </ol>
                    </li>
                    <li>
                        EXIBIÇÃO E COMPROVAÇÃO DA PROPRIEDADE DOS PRÊMIOS
                        <ol>
                            <li>A comprovação de propriedade dos prêmios será feita em até 08 (oito) dias antes da data da respectiva apuração, por meio de Recibos e/ou Contratos (artigo 15, § 1º, do Decreto 70.951/72), ficando à disposição para eventual fiscalização no RIOgaleão, e, posteriormente, serão enviados para a SEFEL, anexados ao processo de prestação de contas.
                            </li>
                            <li>Em função da natureza da premiação, os prêmios não serão exibidos, mas a sua sugestão de utilização poderá ficar estampada em todos os materiais de divulgação da promoção disponibilizados pelo RIOgaleão.
                            </li>
                            <li>Conforme a Lei nº 11.196, de 21/11/05, art. 70, inciso 1º, letra b, item 2, o RIOgaleão recolherá 20% de IRRF sobre o valor dos prêmios, até o 3º dia útil subsequente ao decêndio de ocorrência de cada fato gerador, através de DARF recolhido na rede bancária, com o código 0916.
                            </li>
                        </ol>
                    </li>
                    <li>
                        LOCAL DE ENTREGA DOS PRÊMIOS
                        <ol>
                            <li>Os vouchers viagem serão entregues, via correio e/ou e-mail, nos endereços indicados nos cadastros pelos contemplados, livres de quaisquer ônus, em até 30 (trinta) dias da data de cada apuração, devendo os ganhadores, no momento do recebimento, ler atentamente as instruções encaminhadas pelo RIOgaleão.
                                <ol>
                                    <li>
                                        Assim sendo, serão endereçados a cada ganhador os seguintes documentos: (i) voucher viagem; (ii) Termo de Quitação e Entrega de Prêmio.
                                    </li>
                                    <li>
                                        Cada ganhador deverá retornar, via correio, para o RIOgaleão o respectivo Termo de Quitação e Entrega de Prêmios devidamente assinado, juntamente com 01 (uma) cópia simples dos seus documentos pessoais (CPF e RG).
                                    </li>
                                </ol>
                            </li>
                            <li>
                            Os vouchers viagem deverão ser utilizados pelos ganhadores, exclusivamente, para compras de serviços de viagem oferecidos ou intermediados pela agência de viagem indicada pelo RIOgaleão, mediante disponibilidade e condições estabelecidas pela empresa emissora.
                            </li>
                            <li>
                            Os vouchers viagem darão direito à aquisição de pacote de viagem de livre escolha, para os destinos nacionais e internacionais especificados no Anexo II deste Regulamento (sujeitos à exclusão ou adição por parte das companhias aéreas), para os contemplados da presente promoção e eventual(is) acompanhante(s), passagem(ns) aérea(s), seguro(s) viagem, hospedagem(ns), traslado(s) e passeio(s), limitado ao valor da premiação, para utilização única, não sendo válido para aquisição de moeda estrangeira.
                            <ol>
                                <li>
                                    As viagens deverão ser realizadas pelos ganhadores, preferencialmente, dentro do período de 180 (cento e oitenta) dias, contados da data entrega dos vouchers viagens.
                                </li>
                            </ol>
                            </li>
                            <li>
                            O RIOgaleão não poderá ser responsabilizado caso haja alteração, remanejamento, bem como exclusão de algum dos destinos de voos direito que saem do RIOgaleão listados no Anexo II, devendo os contemplados escolherem dentre os destinos disponíveis, nada podendo pleitear a respeito.
                            </li>
                            <li>
                            Assim sendo, fica desde já estabelecido que (i) os vouchers viagem deverão ser utilizados de uma única vez; e que; (ii) saldos eventualmente não utilizados não serão ressarcidos, sendo considerado o valor total entregue.
                            </li>
                            <li>
                            A partir da data da contemplação, o ganhador terá o prazo de até 30 (trinta) dias para comparecer e/ou entrar em contato com agência de viagem indicada pelo RIOgaleão e agendar sua viagem e/ou de seu(s) acompanhante(s), ou com a pessoa por ele indicada para usufruir do seu voucher, se for o caso.
                            </li>
                            <li>
                            Fica desde já estabelecido que deverão ser seguidas pelos contemplados as normas de uso estabelecidas pela agência emissora do “voucher viagem”, para seu usufruto.
                            </li>
                            <li>
                            Desde já fica estabelecido que as questões referentes ao usufruto da viagem como: organização e escolha das companhias aéreas, hospedagem, tipos de traslados, e demais pontos relativos às viagens serão de inteira responsabilidade da agência indicada pelo RIOgaleão junto aos respectivos contemplados, não se responsabilizando o RIOgaleão pelos voos, hotéis e demais serviços oferecidos pela agência durante as viagens.
                            </li>
                            <li>
                            O RIOgaleão não se responsabilizará por quaisquer atos que os ganhadores e seus acompanhantes venham a cometer em afronta aos bons costumes, à moral e às leis, durante a viagem, seja em território nacional ou internacional, ou tampouco poderá ser de qualquer forma responsabilizado caso, por qualquer razão, seja negado seu visto ou ingresso no país de destinos ou escalas, ou em qualquer outro país estrangeiro que venham a ingressar em função do prêmio, ou caso, por qualquer razão e a qualquer tempo, seja determinada sua extradição , ou, ainda, por qualquer evento ou incidente que venha a ocorrer com os ganhadores e/ou seus acompanhantes durante a realização da viagem.
                            </li>
                            <li>
                             Os ganhadores serão comunicados sobre sua premiação no prazo máximo de 03 (três) dias úteis, contados da data da respectiva apuração, no hotsite da promoção em www.vivasuaproximaviagem.com, por meio de telefonema e/ou e-mail, de acordo com os seus dados cadastrais mantidos pelo RIOgaleão.
                            </li>
                            <li>
                             Na eventualidade de algum ganhador vir a falecer antes da entrega do respectivo prêmio, este será entregue ao espólio, na pessoa do seu inventariante, de acordo com a legislação vigente, devendo tal direito ser exercido, em até 180 (cento e oitenta) dias. Não havendo processo de inventário, o prêmio será entregue a um dos herdeiros do contemplado, com consentimento dos demais, desde que apresentada a devida documentação comprobatória, sob pena de o prêmio vir a ser recolhido como renda aos cofres da União Federal.
                            </li>
                            <li>
                            Os prêmios não poderão ser trocados por dinheiro ou por quaisquer outros produtos.
                            </li>
                            <li>
                             Não sendo encontrados quaisquer dos ganhadores, o prazo concedido por lei para reclamarem os prêmios é de 180 (cento e oitenta) dias, contados a partir da data da respectiva apuração. Caso o(s) contemplado(s) não entre(m) em contato com o RIOgaleão, para retirar o seu respectivo prêmio, nesse período, o(s) mesmo(s) perderá(ão) o direito ao mesmo, sendo seu valor recolhido, pelo RIOgaleão ao Tesouro Nacional, como renda da União, no prazo de 10 (dez) dias.
                            </li>
                        </ol>
                    </li>
                    <li>
                        DIVULGAÇÃO DA PROMOÇÃO
                        <ol>
                            <li>
                                A divulgação desta promoção será feita por meio de mídia online, em espaços publicitários dentro do RIOgaleão e por outros meios que o RIOgaleão entender necessários.
                            </li>
                            <li>
                                O regulamento completo desta promoção contendo o número de Certificado de Autorização, a listagem das lojas e quiosques participantes e destinos disponíveis para viagem estarão disponíveis no site www.vivasuaproximaviagem.com.
                            </li>
                        </ol>
                    </li>
                    <li>
                        DISPOSIÇÕES GERAIS
                        <ol>
                            <li>A distribuição dos prêmios é gratuita, não cabendo nenhum ônus aos contemplados.
                            </li>
                            <li>O RIOgaleão não se responsabiliza pela autenticidade dos dados fornecidos pelos participantes no ato do cadastro.
                            </li>
                            <li>É obrigatório que os participantes desta promoção cadastrem dados pessoais válidos e atualizados como CPF, número de telefone, nome, endereço e e-mail, uma vez que esses serão utilizados para identificação e localização dos ganhadores desta promoção e consequente entrega dos prêmios.
                            </li>
                            <li>Assim sendo, o RIOgaleão não será responsável quando, em razão do fornecimento de dados incompletos ou incorretos, ficar impossibilitado de realizar a entrega dos prêmios.
                            </li>
                            <li>Não poderão participar desta promoção, pessoas jurídicas, pessoas físicas menores de 18 anos, que não possuam CPF e/ou que não sejam residentes no Brasil, bem como os sócios, acionistas, funcionários e seus cônjuges, e empregados das seguintes empresas: RIOgaleão, CRMALL e do M.Godoy Consultoria Jurídica em Comunicação Publicitária e de todas as lojas e quiosques estabelecidos no RIOgaleão, independentemente de serem aderentes à promoção, ainda que temporários ou free lancers, funcionários terceirizados, sendo a identificação de tais condições efetuada pelo RIOgaleão no ato das respectivas apurações.
                                <ol>
                                    <li>
                                        As pessoas mencionadas acima, quando identificadas e que de alguma maneira manipularam, violaram ou fraudaram este Regulamento para participar da promoção, serão desclassificadas e não terão direito à premiação, sendo um novo cupom contemplado.
                                    </li>
                                </ol>
                            </li>
                            <li>Os ganhadores autorizam, desde já, como consequência da conquista dos seus prêmios, a utilização de seus nomes, imagens e sons de voz, em qualquer um dos meios escolhidos pelo RIOgaleão, para divulgação desta campanha, pelo período de 01 (um) ano contado da data da respectiva apuração e, assim como os demais participantes, autorizam, também, a utilização de seus dados, como endereço físico, eletrônico, telefone e demais dados constantes do cupom/cadastro, desde que não fira o Código de Defesa do Consumidor, com o propósito de formação e/ou atualização de cadastro do RIOgaleão, reforço de mídia publicitária e divulgação do evento em referência, sem nenhum ônus para este, sendo certo, porém, o comprometimento da não comercialização e a não cessão, ainda que a título gratuito.
                            </li>
                            <li>As dúvidas e controvérsias originadas de reclamações dos participantes, não previstas neste regulamento, serão julgadas por uma Comissão composta por membros representantes do RIOgaleão. Persistindo-as, o questionamento deverá ser feito à SEFEL e as reclamações fundamentadas deverão ser dirigidas ao PROCON regional.
                            </li>
                            <li>A participação nesta promoção implica na ciência do regulamento e concordância com as suas condições.
                            </li>
                            <li>
                            Esta promoção está de acordo com a legislação vigente (Lei nº. 5.768/71, regulamentada pelo Decreto nº. 70.951/72 e pela Portaria/MF 41/08). Certificado de Autorização Caixa nº 6-8564/2018.
                            </li>
                        </ol>
                    </li>

                </ol>

                <div class="text-center">
                    ANEXO I – LOJAS E QUIOSQUES ADERENTES
                </div>
                <div>
                    <table>
                        <thread>
                            <tr>
                                <td>Razão social</td>
                                <td>Nome fantasia</td>
                                <td>CNPJ/MF</td>
                            </tr>
                        </thread>
                        <tbody>
                            {% for store in stores %}
                                <tr>
                                    <td>{{ store[0] }}</td>
                                    <td>{{ store[1] }}</td>
                                    <td>{{ store[2] }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="text-center">
                    ANEXO II – Listagem dos destinos
                </div>
                <div style="display: flex">
                    <table>
                        <thread>
                            <tr>
                                <td>Nacional</td>
                            </tr>
                        </thread>
                        <tbody>
                        <tr>
                            <td>
                            Aracaju
                            </td>
                        </tr>
                        <tr>
                            <td>
                            Belém</td>
                        </tr>
                        <tr>
                            <td>
                            Belo Horizonte</td>
                        </tr>
                        <tr>
                            <td>
                            Brasília</td>
                        </tr>
                        <tr>
                            <td>
                            Curitiba
                            </td>
                        </tr>
                        <tr>
                            <td>
                            Florianópolis
                            </td>
                        </tr>
                        <tr>
                            <td>
                            Fortaleza
                            </td>
                        </tr>
                        <tr>
                            <td>
                            Foz do Iguaçu
                            </td>
                        </tr>
                        <tr>
                            <td>
                            Goiânia
                            </td>
                        </tr>
                        <tr>
                            <td>
                            Joao Pessoa</td>
                        </tr>
                        <tr>
                            <td>
                            Maceió</td>
                        </tr>
                        <tr>
                            <td>
                            Manaus</td>
                        </tr>
                        <tr>
                            <td>
                            Natal</td>
                        </tr>
                        <tr>
                            <td>
                            Navegantes</td>
                        </tr>
                        <tr>
                            <td>
                            Porto Alegre</td>
                        </tr>
                        <tr>
                            <td>
                            Recife</td>
                        </tr>
                        <tr>
                            <td>
                            Salvador</td>
                        </tr>
                        <tr>
                            <td>
                            São Luís</td>
                        </tr>
                        <tr>
                            <td>
                            São Paulo</td>
                        </tr>
                        <tr>
                            <td>
                            Campinas</td>
                        </tr>
                        <tr>
                            <td>
                            Vitoria</td>
                        </tr>
                        </tbody>
                    </table>

                    <table>
                        <thread>
                            <tr>
                                <tr>
                                <td>Internacional</td>
                            </tr>
                            </tr>
                        </thread>
                        <tbody>
                        <tr>
                        <td>
                                Amsterdam
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Atlanta
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Bogotá
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Buenos Aires
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Casablanca
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Córdoba
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Dubai
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Frankfurt
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Houston
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Lima
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Lisboa
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Londres
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Luanda
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Madrid
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Miami
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Montevideo
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Orlando
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Panamá City
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Paris
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Porto
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Roma
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Rosário
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Santiago
                            </td>
                        </tr>
                        <tr>
                        <td>
                                Zurique
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(function () {
            scrollPage('rules-container');
        });
    </script>
{% endblock %}