{% extends "site/layout/layout.twig" %}
{% block title %} | Cadastrar minhas seladinhas {% endblock %}
{% block content %}
    <div class="blocks-container block-register-coupon" style="color: #000" id="register-coupon-container">
        <h2 class="text-center text-uppercase">Cadastre seus cupons</h2>
        <div class="col-12 block-header-steps-container hidden-xs">
            <div class="block-header-steps">
                <span>01. Login</span>
            </div>
            <div class="block-header-steps active">
                <span>02. Cupons</span>
            </div>
        </div>
        <form id="invoice-form" action="/seladinha/send-coupons" method="post" novalidate="novalidate">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <div class="row">
                        {% if app.campaignSealedHasReceipt %}
                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="custom-label">CNPJ*</label>
                                    <input id="storeDocumentNumber" name="storeDocumentNumber" class="form-control mask-cnpj" placeholder="Digite o CNPJ" required>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="custom-label">Nome da Loja</label>
                                    <input name="storeName" id="storeName" class="form-control" placeholder="Nome da loja onde efetuou a compra" required>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="custom-label">Número da Nota Fiscal *</label>
                                    <input name="code" class="form-control" placeholder="Digite o número da Nota Fiscal" required>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="custom-label">Data da Compra *</label>
                                    <input name="date" class="form-control date-mask" placeholder="Digite a data da compra" required>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label class="custom-label">Valor da Compra *</label>
                                    <input name="receiptValue" id="receiptValue" class="form-control money-mask" placeholder="Digite o valor da compra" required>
                                </div>
                                <hr>
                            </div>
                        {% endif %}

                        <div class="col-xs-12" id="coupon-inputs-container">
                            <div class="row">
                                <div class="col-md-12" style="margin-bottom: 48px;">
                                    <div id="coupon-list"></div>
                                    <div class="clearfix" style="margin-bottom: 32px">
                                        <span class="pull-right text-uppercase">
                                            <div id="add-more-button" style="cursor: pointer">
                                                <span style="font-weight: 600; letter-spacing: 0.5px; font-size: 12px">
                                                    Inserir mais campos
                                                </span>
                                                 <span class="btn btn-success round-btn btn-xs">+</span>
                                            </div>
                                        </span>
                                    </div>
                                    <div id="actions-btn-container">
                                        <a href="/meus-cupons" class="btn btn-default custom-btn text-uppercase pull-left">Voltar</a>
                                        <button id="send-button" class="btn btn-success text-uppercase custom-btn btn-green ladda-button pull-right" style="position: relative">Concluir</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <style>
        .input-loader {
            width: 24px;
            position: absolute;
            height: 24px;
            right: 8px;
            top: 34px;
        }

        .coupon-input-item {
            position: relative;
        }

        .btn-green:disabled,
        .btn-green:disabled:hover {
            background-color: #868686;
        }
    </style>
{% endblock %}

{% block modal %}
    <div id="dialog" class="modal fade" data-keyboard="false" data-backdrop="static" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Cadastro de cupons</h4>
                </div>
                <div class="modal-body">
                    <p>Seus cupons foram cadastrados com sucesso!</p>
                </div>
                <div class="modal-footer">
                    <button id="form-reset-buttom" type="button" data-dismiss="modal"
                            class="btn btn-xs visible-xs-block visible-sm-inline-block
                             visible-md-inline-block visible-lg-inline-block btn-default">
                        Cadastrar mais notas
                    </button>
                    <a href="/meus-cupons" class="btn btn-xs visible-xs-block visible-sm-inline-block
                     visible-md-inline-block visible-lg-inline-block btn-success">
                        Visualizar meus cupons
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog-error" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Cadastro de cupons</h4>
                </div>
                <div class="modal-body">
                    <p>Não foi possível cadastrar todos os cupons. Os seguintes cupons não foram utilizados:</p>
                    <ul id="invalid-tokens">
                        <li></li>
                        <li></li>
                        <li></li>
                    </ul>
                    <p>Deseja tentar cadastrá-los novamente?</p>
                </div>
                <div class="modal-footer">
                    <a href="/meus-cupons" class="btn btn-xs visible-xs-block visible-sm-inline-block
                             visible-md-inline-block visible-lg-inline-block btn-default">
                        Não
                    </a>
                    <a id="form-retry-button" type="button" class="btn btn-xs visible-xs-block visible-sm-inline-block
                     visible-md-inline-block visible-lg-inline-block btn-primary" data-dismiss="modal">
                        Sim
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog-fail" class="modal fade" tabindex="-1" data-backdrop="static" data-keyboard="false" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Cadastro de cupons</h4>
                </div>
                <div class="modal-body">
                    <p>Ocorreu um erro ao cadastrar as notas. Deseja tentar cadastrá-las novamente?</p>
                </div>
                <div class="modal-footer">
                    <a href="/meus-cupons" class="btn btn-xs visible-xs-block visible-sm-inline-block
                             visible-md-inline-block visible-lg-inline-block btn-default">
                        Não
                    </a>
                    <a type="button" class="btn btn-xs visible-xs-block visible-sm-inline-block
                     visible-md-inline-block visible-lg-inline-block btn-primary" data-dismiss="modal">
                        Sim
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        function onReady()
        {
            $(".mask-cnpj").mask("00.000.000/0000-00");

            var validator = null;

            var coupons = {};
            var couponCount = 0;

            const couponList = $('#coupon-list');

            const addMoreButton = $('#add-more-button');
            addMoreButton.click(addCouponInput);

            var sendButton = $('#send-button');

            const invalidTokensList = $('#invalid-tokens');
            const totalCouponsCount = $(".coupon-count-number");

            var retryTokens = [];

            $('#form-retry-button').click(insertRetryTokens);

            function addCouponInput(animate, value)
            {
                couponCount++;

                const couponInput = createCouponInput(couponCount, animate);
                couponList.append(couponInput.wrapper);

                couponInput.input.rules('add', {
                    uniqueSealed: true,
                    remote: validateCoupon,
                    require_from_group: [1, '.coupon-input'],
                    messages: {
                        remote: 'Cupom inválido ou já utilizado',
                        require_from_group: 'Você deve preencher pelo menos 1 cupom para continuar'
                    }
                });

                if (animate) {
                    couponInput.wrapper.fadeIn(500, function() {
                        couponInput.input.focus();
                    });
                }

                if (value) {
                    couponInput.input.val(value);
                }
            }

            function validateCoupon(element)
            {
                const $element = $(element);
                const coupon = $element.val();
                const $loader = $element.parent().find('.input-loader');
                $element.val($element.val().toUpperCase());

                if (isCouponOnList(coupon, $element.data().number)) {
                    return null;
                }

                return {
                    url: '/seladinha/check-coupon/' + coupon,
                    type: 'get',
                    cache: false,
                    dataType: 'json',
                    beforeSend: function() {
                        $loader.show();
                        sendButton.prop('disabled', true);
                        sendButton.prop('title', 'Os cupons estão sendo validados, por favor aguarde');
                    },
                    dataFilter: function(response) {
                        try {
                            response = JSON.parse(response);

                            $loader.hide();

                            if (isCouponOnList(coupon, $element.data().number)) {
                                return 'O cupom já está sendo cadastrado';
                            }

                            return response.data.valid;
                        } catch (e) {
                            return false;
                        }
                    },
                    complete: function() {
                        if (!$('.pending').length) {
                            sendButton.prop('disabled', false);
                            sendButton.prop('title', '');
                        }
                    }
                };
            }

            function createCouponInput(number, hidden)
            {
                const wrapper = $('<div>', {'class': 'coupon-input-item form-group'});

                if (hidden) {
                    wrapper.hide();
                }

                $('<label>', {'class': 'custom-label'}).text('Cupom ' + number).appendTo(wrapper);

                const input = $('<input>', {
                    'class': 'form-control custom-input coupon-input',
                    'name': 'coupons[' + number + ']',
                    'placeholder': getCouponInputPlaceholder(number)
                });

                input.data('number', number);

                input.blur(function() {
                    const $this = $(this);
                    const number = $this.data().number;

                    var oldValue = false;

                    if (coupons.hasOwnProperty(number)) {
                        oldValue = coupons[number];
                    }

                    coupons[number] = $this.val();

                    if (oldValue && oldValue != $this.val()) {
                        $('.coupon-input').each(function(index, element) {
                            validator.element($(element));
                        });
                    }
                });

               $('<svg hidden class="input-loader" width="100px"  height="100px"  xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid" class="lds-rolling" style="display: none; background: none;">' +
                   '<circle cx="50" cy="50" fill="none" stroke="#000" stroke="#337ab7" stroke-width="8" r="35" stroke-dasharray="164.93361431346415 56.97787143782138" transform="rotate(255 50 50)">' +
                '<animateTransform attributeName="transform" type="rotate" calcMode="linear" values="0 50 50;360 50 50" keyTimes="0;1" dur="0.8s" begin="0s" repeatCount="indefinite"></animateTransform>' +
                '</circle>' +
                '</svg>').appendTo(wrapper);

                input.appendTo(wrapper);
                return {wrapper: wrapper, input: input};
            }

            function getCouponInputPlaceholder(number)
            {
                return 'Digite o código identificador do seu Cupom ' + number;
            }

            function maskElements()
            {
                $('.cnpj-mask').mask('00.000.000/0000-00', {reverse: true});
                $('.date-mask').mask('00/00/0000');
                $('.money-mask').mask('#.##0,00', {reverse: true});
            }

            function validation()
            {
                $.validator.addMethod('brDate', function(value) {
                    return (value.length === 0) || moment(value, 'DD/MM/YYYY', true).isValid();
                }, 'Data inválida');

                $.validator.addMethod('uniqueSealed', function(value, element) {
                    const number = $(element).data().number;
                    return !isCouponOnList(value, number);
                }, 'O cupom já está sendo cadastrado');

                $.validator.messages.required = 'Campo obrigatório';

                validator = $('#invoice-form').validate({
                    rules: {
                        date: { brDate: true },
                        storeDocument: { cnpj: true }
                    },
                    submitHandler: submitForm,
                    onkeyup :false
                });

                addCouponInput(false);
            }

            function submitForm(form, event)
            {
                event.preventDefault();
                sendButton.prop('disabled', true);

                if (!$(form).valid()) {
                    return;
                }

                const url = '/seladinha/send-coupons';
                const request = $.post(url, $(form).serialize());

                request.then(function(response) {
                    if (response.data.success) {
                        totalCouponsCount.text(parseInt(totalCouponsCount.text()) + response.data.couponsCount);
                        return $('#dialog').modal('show');
                    }

                    invalidTokensList.html('');

                    for (var key in response.data.invalidTokens) {
                        invalidTokensList.append($('<li>').append($('<strong>').text(response.data.invalidTokens[key])));
                    }

                    retryTokens = response.data.invalidTokens;

                    $('#dialog-error').modal('show');
                });

                request.catch(function() {
                    $('#dialog-fail').modal('show');
                });

                request.always(function() {
                    sendButton.prop('disabled', false);
                    $("#actions-btn-container").empty();
                    $("#actions-btn-container").html(
                        '<a href="/meus-cupons" class="btn btn-default custom-btn text-uppercase pull-left">Voltar</a>'+
                        '<button id="send-button" class="btn btn-success text-uppercase custom-btn btn-green ladda-button pull-right" style="position: relative">Concluir</button>'
                    );
                    sendButton = $('#send-button');
                });
            }

            function insertRetryTokens()
            {
                couponCount = 0;
                couponList.html('');

                for (var key in retryTokens) {
                    addCouponInput(false, retryTokens[key]);
                }

                $('#invoice-form').valid();
            }

            function isCouponOnList(coupon, ignoreNumber)
            {
                for (var key in coupons) {
                    if (key != ignoreNumber) {
                        if (coupons[key] && coupons[key] == coupon) {
                            return true;
                        }
                    }
                }

                return false;
            }

            $('#form-reset-buttom').click(function() {
                coupons = {};
                couponCount = 0;
                couponList.html('');
                addCouponInput(false);
                $('#invoice-form').find('input').val('');
                validator.resetForm();
            });

            maskElements();
            validation();
            scrollPage('register-coupon-container');
        }

        $(document).ready(onReady);
    </script>
{% endblock %}