{% extends "admin/layout/layout-adm.twig" %}

{% block content %}
    <div class="loader" style="display: none">
        <img src="/img/loader.svg" alt="">
    </div>
    <div class="row audit">
        <div class="col-md-12" style="display: none" id="alert-message">
            <div class="alert alert-warning" role="alert">
                <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                <p></p>
            </div>
        </div>
        <form id="search-form" method="post">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Campanha</label>
                    <select class="form-control" id="campaign">
                        {% for key,campaign in campaigns %}
                            <option value="{{ key }}">{{ campaign }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="col-md-6">
                <div class="input-group">
                    <label>CPF do participante</label>
                    <input type="text" required class="form-control mask-cpf" id="documentNumber" placeholder="Digite aqui o cpf do participante">
                    <span class="input-group-btn" style="vertical-align: bottom">
                    <button class="btn btn-default" type="submit" id="search-button" style="padding: 10px 43px;">Buscar</button>
                </span>
                </div>
            </div>
        </form>
    </div>
    <div id="result" style="display: none; color: #000">
        <div class="row">
            <div class="col-md-12">
                <hr>
                <h4 style="text-align: center">Resultado da busca</h4>
                <a class="btn btn-default pull-right" id="export-button" href="#" style="padding: 6px 12px">Exportar</a>
            </div>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <tr style="font-weight: bold;">
                    {% if app.campaignType != 'withCrm' %}
                        <td>Número da sorte</td>
                    {% endif %}
                    <td>Número da nota</td>
                    <td>Valor da nota</td>
                    <td>CNPJ da loja</td>
                    <td>Data da compra</td>
                    <td>Data de envio</td>
                    <td>Detalhes das nota</td>
                </tr>
                </thead>
                <tbody id="receipts-list">
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $('#search-form').submit(function(event) {
            event.preventDefault();

            $('#result').hide();
            $('.loader').show();
            $('#receipts-list').html('');

            $('#export-button').attr('href','/adm/export/' + $('#campaign').val() + '/' + $('#documentNumber').val().replace(/\D/g, '') );

            var get = $.ajax({
                type: "GET",
                url: '/adm/find-receipts/' + $('#campaign').val() + '/' + $('#documentNumber').val().replace(/\D/g, ''),
                contentType: false,
                processData: false,
                dataType: "json"
            });

            get.done(function (data) {
                var type = data.type;
                var data = data.data;

                for(var i in data) {
                    var row = ' <tr>\n';

                    if (type !== 'withCrm') {
                        row +='                    <td>' +  data[i].luckyNumber + '</td>\n';
                    }

                    row += '                 <td>' +  data[i].invoiceNumber + '</td>\n' +
                        '                    <td> R$ ' +  data[i].invoiceValue + '</td>\n' +
                        '                    <td>' +  data[i].storeDocument + '</td>\n' +
                        '                    <td>' +  data[i].invoicePurchasedDate + '</td>\n' +
                        '                    <td>' +  data[i].sentDate + '</td>\n' +
                        '                    <td>' +  data[i].message + '</td>\n' +
                        '                </tr>';

                    $(row).appendTo('#receipts-list');
                }

                $('.loader').hide();
                $('#result').show();

            });

            get.always(function() {
                $('.loader').hide();
            });
        });

        $(document).on('click', '.remove-item', function() {
            var confirm = window.confirm("Tem certeza que deseja remover?");
            var id = $(this).data('id');

            if (confirm === true) {
                $('.loader').show();

                var get = $.ajax({
                    type: "DELETE",
                    url: '/adm/remove-receipt/' + id,
                    contentType: false,
                    processData: false,
                    dataType: "json"
                });

                get.done(function (data) {
                    $('#item-' + id).remove();
                });

                get.always(function(){
                    $('.loader').hide();
                });
            }
        });
    </script>
{% endblock %}